@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

/* Global Style */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --smoke: rgb(245, 245, 245);
  --snow: rgb(255, 250, 250);
  --ligth: rgb(64, 93, 255, 0.75);
  --ligther: rgb(64, 93, 255, 0.85);
  --medium: rgba(102, 76, 255, 0.749);
  --mediuner: rgb(102, 76, 255, 0.85);
  --dark: rgb(173, 46, 255, 0.75);
  --darker: rgb(173, 46, 255, 0.85);
  --maintext: rgb(10, 31, 69);
  --border: rgba(102, 51, 153, 0.25);
  --shadow: rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--maintext);
}

p {
  font-size: 18px;
  font-weight: 300;
}

h1 {
  font-size: 28px;
  font-weight: 200;
  letter-spacing: 1px;
}

h2 {
  font-size: 28px;
  font-weight: 200;
}

h3 {
  font-size: 16px;
  font-weight: 200;
}

h4 {
  font-size: 14px;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: var(--maintext);
  background-color: var(--smoke);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  align-items: center;
  min-height: 8vh;
  padding: 30px 30px 30px 30px;
  border-bottom: 2px solid var(--border);
  background-color: var(--snow);
}

.logo-img {
  width: 50px;
  height: 40px;
  margin: 0 5px 0 0;
}

.logo {
  font-family: inherit;
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

main {
  padding: 15px 30px 15px 30px;
}

main h1 {
  margin: 50px 25px 75px 25px;
  text-align: center;
}

.questionBlock {
  padding: 15px;
  text-align: center;
  background-color: var(--snow);
  border: 2px solid var(--border);
  border-radius: 8px;
  box-shadow: 3px 3px 5px var(--shadow);
}

.question {
  display: grid;
  margin: 30px;
  font-size: 26px;
  font-weight: 600;
}

.example {
  display: grid;
  margin: 0 25px 0 25px;
  font-size: 16px;
  font-weight: 200;
}

.questionBtn {
  height: 50px;
  font-size: 18px;
  color: var(--snow);
  letter-spacing: 1px;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    var(--ligth),
    var(--medium),
    var(--dark)
  );
}

.questionBtn:focus {
  outline: none;
}

.questionBtn:hover {
  background-image: linear-gradient(
    to right,
    var(--ligther),
    var(--mediuner),
    var(--darker)
  );
}

.btnBlock {
  display: grid;
  padding: 5px;
  margin: 30px;
}

.aboutBlock {
  margin: 75px 0 75px 0;
}

.aboutBlock h2 {
  margin: 0;
  text-align: center;
}

.aboutBlock p {
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
}

.infoBlock {
  display: grid;
  margin: 0 0 75px 0;
  justify-content: center;
}

.infoBlock h3 {
  margin: 0;
}

.questionsIcon,
.visitsIcon,
.talkingIcon {
  padding: 15px;
  margin: 15px;
  width: 220px;
  height: 184px;
  /* question block config */
  text-align: center;
  background-color: var(--snow);
  border: 2px solid var(--border);
  border-radius: 8px;
  box-shadow: 3px 3px 5px var(--shadow);
}

.questionsIcon img,
.visitsIcon img,
.talkingIcon img {
  width: 96px;
  height: 96px;
}

footer {
  display: flex;
  padding: 15px;
  justify-content: center;
  background-color: var(--snow);
  border: 2px solid var(--border);
}

footer a,
h4 {
  margin: 0;
  padding: 0;
}

@media (min-width: 720px) {
  header {
    padding: 30px 60px 30px 60px;
  }
  main {
    padding: 15px 60px 15px 60px;
  }

  main h1 {
    margin: 50px 60px 75px 60px;
    text-align: center;
  }
  .questionBlock {
    margin: 0 60px 0 60px;
  }

  .infoBlock {
    display: flex;
    justify-content: center;
  }

  .questionsIcon,
  .visitsIcon,
  .talkingIcon {
    margin: 15px;
    width: 175px;
    height: 215px;
  }
}

@media (min-width: 1020px) {
  header {
    padding: 30px 120px 30px 120px;
  }
  main {
    padding: 15px 120px 15px 120px;
  }

  main h1 {
    margin: 50px 120px 75px 120px;
    text-align: center;
  }

  .questionBlock {
    margin: 0 120px 0 120px;
  }

  .infoBlock {
    display: flex;
    justify-content: center;
  }

  .questionsIcon,
  .visitsIcon,
  .talkingIcon {
    margin: 15px;
    width: 225px;
    height: 200px;
  }
}
